h2 Welcome to Angular 2 workshop

h3 Prerekvizity

p Budeme potřebovat:
ul
  li
    a(href="https://git-scm.com/",target="_blank") git
  li
    a(href="https://nodejs.org/en/",target="_blank") nodejs
    | , pokud možno v aktuální verzi 6.x

p Pro náš projekt použijeme
  | &nbsp;
  a(href="http://cli.angular.io",target="_blank") Angular CLI
  | &nbsp;
  | Ten potřebujem emít nainstalovaný globálně:

snippet.
  npm install -g angular-cli

p Správnost instalace můžete ověřit příkazem
snippet.
  npm --help
p Měl by vám vypsat nápovědu k použití příkazu.

p Nástroje máme připravené, pro workshop jsme připravili
  | &nbsp;
  a(href="https://bitbucket.org/angular_cz/devfest-angular2-workshop") repozitář
  | . Naklonujte si ho a poté ce složce projektu spusťte instalaci závislostí

snippet.
  git clone https://bitbucket.org/angular_cz/devfest-angular2-workshop

  cd devfest-angular2-workshop
  npm install

p A to je vše. Pokud si chcete ověřit, že je vše nainstalované správně, můžete ve složce projektu spustit příkaz
snippet.
  ng serve

p Ten zbuilduje projekt a zpřístupní ho na adrese
  | &nbsp;
  a(href="http://localhost:4200",target="_blank")
  | .

.success.
  Pokud vše proběhlo bez chyb, jste připravení. Těšíme se na workshopu.



